.landing-page {
    height: 100vh;
    width: 100vw;
    background-image: url('../src/assets/pictures/landingpage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  