.component-wrapper {
    background-color: black;
}

.maximilian-card {

}

h2 {
    color: blue;
    text-align: center;
}

p {
    font-size: 0.8rem;
}

#button-wrapper {
    display: flex;
    justify-content: center;
}