html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  color: #2F2926;
  size: 2rem;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  color: #2F2926;
  size: 1rem;
}

h3 {
  font-family:'Times New Roman', Times, serif;
  color: white;
  size: 1rem;
}


p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

