html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

h1 {
  font-family:'Times New Roman', Times, serif;
  font-size: 42px;
  color: #2F2926;
}

h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 23px;
  color: #2F2926;
}

p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}