// Colors
$background-color: black;

// Text
$primary-headline-font: "Bodoni Moda SC", serif;
$primary-paragraph-font: "Caveat", cursive;

$primary-headline-color: rgb(221, 255, 0);
$primary-paragraph-color: bisque;

$base-h1-size: 3rem;
$base-h2-size: 2rem;
$base-font-size: 1.5rem;

// Spacing
$spacing-unit: 10px;