* {
    box-sizing: border-box;
    font-family: "Black Ops One", system-ui;
}

html, body {
    height: 100%;
}

body {
    background-image: url('/summer24/htmlcss/websites/helloWorld/40kwallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}



h1 {
    color: rgb(165, 162, 162);
    text-decoration: none
}

span {
    color: rgb(103, 4, 4);
}

h2 {
    color: rgb(103, 4, 4);
    text-decoration: underline;
    margin: 0;
}

h3 {
    color: white;
}

p {
    color: rgb(173, 171, 171);
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-style: normal;
}

/* globals end here */ 

header {

}

nav {
    background-color: rgba(0, 0, 0, 0.9);
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    border-radius: 1rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    background: none;
    color: bisque;
    cursor: pointer;
    text-align: center;
    transition: background-color 3s, transform 3s;
}

button:hover {
    background-color: rgb(85, 2, 2);
}



.main-content {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    margin: 3rem;
    text-align: center;
    padding: 1rem;
}

#main-title {
    font-size: 5rem;
    padding: 0;
    margin: 0;
}

#home-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#chaosspacemarine {
    width: 50%;
    border: 3px solid black;
}

.menu-button {
    margin-left: 2rem;
    color: rgb(130, 3, 3);
}

.menu-button:hover {
    background-color: rgb(148, 146, 146);
}

#examplepictures-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#examplepicturethree {
    width: 80%;
}

.examplepicture-description {
    color: bisque;
    font-size: 0.8rem;
    width: 70%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.content-text {
    width: 70%;
    color: rgb(173, 171, 171);
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 3rem;
}

#support {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.support-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.support-buttons {
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-buttons img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.support-buttons:hover {
    background-color: white;
}

.supportbutton-text {
    color: black;
    margin-left: 1rem;
}



figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#siegeofterrapicture {
    width: 50%;
    border: 3px solid black;
}

#siegedescription {
    color: bisque;
    font-size: 0.7rem;
}


#scouring {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 3rem;
    margin-top: 5rem;
}

#scouring #column-1 {
    grid-column: 1;
    margin-bottom: 2rem;
}

#scouring #column-2 {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#scouring #column-3 {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#scouring #column-4 {
    grid-column: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#papasmurf-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#papasmurf {
    width: 100%;
    border: 3px solid black;
}

#papasmurfdescription {
    color: bisque;
    font-size: 0.7rem;
}

#scouring-text {
    font-size: 1rem;
}

#scouring-button {
    border-radius: 1rem;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    background: none;
    color: bisque;
    cursor: pointer;
    text-align: center;
    transition: background-color 3s, transform 3s;
}

#scouring-button:hover {
    background-color: rgb(121, 1, 1);
}









/* FOOTER */ 
footer {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-around;
}

footer p {
    color: white;
    font-size: 0.8rem;
}

#footer-contactinfo {

}

#footer-socialmedia {

}